#controls {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 32px;
  margin-bottom: 16px;
  background-color: #f6f6fe;
  border-radius: 8px;
}

#controls input {
  width: 150px;
  height: 40px;
  padding: 8px;
  border: 1px solid #808080;
  border-radius: 8px;
  text-align: center;
  font-size: 16px;
}

#controls button {
  min-width: 120px;
  height: 40px;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

[data-create] {
  background-color: #4e75ff;
}

[data-create]:hover {
  background-color: #6c8cff;
}

[data-destroy] {
  background-color: #ff4e4e;
}

[data-destroy]:hover {
  background-color: #ff7070;
}

#boxes {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 16px;
  padding: 32px;
  background-color: #f6f6fe;
  border-radius: 8px;
}